# Dependencies
node_modules/

# Build
dist/
out/

# Tauri
src-tauri/target/

# Env
.env
.env.*
*.env.example

# IDE
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# PNGs (keep only those in Tauri src)
*.png
!src-tauri/src/**/*.png

# Markdown except README
*.md
!README.md
!**/README.md

*.mdc
